:root {
  --m-color: #e0221b;
  --bg-color: rgba(237, 239, 243, 1);
  --bg-color-03: rgba(237, 239, 243, 0.3);
  --bg-color-01: rgba(229, 231, 236, 0.274);
  --blur-color-01: rgba(0, 0, 0, 0.3);
  --bg-track-color: #fefefe8e;
  --b-radius: 8px;
  --font-ui: "InterCustom", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body {
  font-family: var(--font-ui);
  font-size: 16px;
  line-height: 1.45;
  color: #111;
}
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.s-lock {
  opacity: 0.3;
}

.s-active {
  opacity: 1;
  color: var(--m-color);
}

.r-90 {
  transform: rotate(-90deg);
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  transition: all 300ms ease;
  cursor: pointer;
  width: 45px;
  height: 45px;
  -webkit-tap-highlight-color: transparent;
}

.btn.s-active {
  /* background-color: var(--bg-color-03); */
  color: var(--m-color);
}

.btn:hover {
  opacity: 0.5;
}

.btn:active {
  transform: scale(0.8);
}

.background-app {
  background-image: url("./images/default.png");
  background-size: cover;
  background-position: center;
  height: min(800px, 100dvh);
  width: min(460px, 100dvw);
  margin: auto;
  overflow: hidden;
  transition: all 300ms ease;
}

/* app-music */
.app__music {
  width: 200%;
  height: 100%;
  display: flex;
  transform: translateX(-50%);
  background: var(--blur-color-01);
  backdrop-filter: blur(20px);
  transition: transform 0.3s ease;
  -webkit-backdrop-filter: blur(20px);
}

.music__show {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* header */
.music__show .header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header__nav,
.header__mode {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action__back {
}

.header__heading {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 12px;
}

.heading__label {
  text-transform: uppercase;
  font-size: 10px;
  opacity: 0.7;
  letter-spacing: 1.2px;
  color: white;
}

.heading__playlist {
  font-size: 14px;
  color: white;
}

/* main */
.music__show .main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 8px;
}

.main__show {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.show__volume {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 12px;
  top: 50%;
  right: -58px;
  transform: translateX(0px) rotate(90deg) scale(1);
  opacity: 1;
  transition: all 0.3s ease;
}

.show__volume.hidden {
  opacity: 0;
  transform: translateX(70px) rotate(90deg) scale(0.5);
}

.action__muted:active {
  transform: rotate(-90deg);
}

.volume__range {
  transform: rotate(180deg);
  touch-action: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.show__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  padding-top: 55%;
  background: url("./images/default.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index: 2;
  transition: background 300ms ease;
}

.main__player {
  width: 100%;
}

/* .volume:hover .volume__range {
  display: block;
}

.volume__range {
  position: absolute;
  width: 100px;
  top: calc(-100% - 12px);
  left: calc(-6px - 50%);
  transition: all 0.3s ease;
  height: 4px;
  display: none;
}

.volume::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
  top: -20%;
  background-color: transparent;
} */

.player__song-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 12px;
}

.song-info__title,
.song-info__author {
  text-align: left;
  width: 100%;
  color: white;
}

.song-info__title {
  font-size: 20px;
}

.song-info__author {
  font-size: 12px;
}

.song-info__more {
  position: absolute;
  bottom: 0;
  right: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}

.controls {
  width: 100%;
  padding: 12px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
}

.control {
  width: 45px;
  height: 45px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  transition: all 0.5s ease;
}

.controls__repeat:hover,
.controls__prev:hover,
.controls__next:hover,
.controls__shuffle:hover {
  background-color: var(--bg-color-03);
}

.controls__repeat,
.controls__shuffle {
  font-size: 16px;
}

.controls__play {
  width: 55px;
  height: 55px;
  border: 1px solid var(--bg-color-03);
}

.controls__next {
}

.controls__shuffle {
}

.controls__duration {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 0;
}

.duration__range {
  width: 100%;
  margin-bottom: 8px;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  background: transparent;
  border-radius: 999px;
  outline: none;
  cursor: pointer;
  transition: all 0.1ms linear;
}

.slider.large {
  height: 40px;
}

.slider::-webkit-slider-runnable-track {
  height: 1px;
  background: linear-gradient(
    90deg,
    #e0221b var(--val, 0%),
    var(--bg-color-03) var(--val, 0%)
  );
  border-radius: 999px;
}

.slider.white::-webkit-slider-runnable-track {
  background: linear-gradient(
    90deg,
    white var(--val, 0%),
    var(--bg-color-03) var(--val, 0%)
  );
}

.slider.large::-webkit-slider-runnable-track {
  height: 40px;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  background: #e0221b;
  border-radius: 50%;
  margin-top: -6px;
  transition: all 0.2s;
}

.slider::-webkit-slider-thumb {
  background: white;
}

.slider.large::-webkit-slider-thumb {
  width: 8px;
  height: 100%;
  border-radius: 0%;
  margin-top: 0px;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}

.slider.large::-webkit-slider-thumb:hover {
  transform: scale(1);
}

.current-time,
.total-time {
  width: 50px;
  color: white;
  opacity: 0.8;
  letter-spacing: 1.4px;
  font-size: 10px;
}

.total-time {
  text-align: end;
}

/* footer */
.music__show .footer #copyright {
  text-align: center;
  font-size: 12px;
  padding-top: 12px;
  opacity: 0.7;
  color: white;
}

/* music__list */
.music__list {
  position: relative;
  width: 50%;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  padding: 8px;
  overflow-y: auto;
}

.music__list::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.music__close {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 2;
}

.music__heading {
  font-size: 18px;
}

.music__item {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;
}

.music__item:hover {
  background-color: var(--bg-color-03);
}

.music__item.playing {
  /* margin-top: 45px; */
}
.music__thumbnail {
  width: 45px;
  height: 45px;
  border-radius: 4px;
}
.music__info {
  flex: 1;
}
.music__title {
  text-transform: capitalize;
}
.music__singer {
  font-size: 12px;
  color: #ccc;
}
.music__bars {
  height: 100%;
  width: 100px;
  display: flex;
  align-items: flex-end;
  gap: 4px;
}
.music__bars .bar {
  width: 4px;
  height: 0;
  border-radius: 999px;
  transition: all 0.1s ease;

  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 1)
  );
}

.controls.view__list {
  position: fixed;
  z-index: 10;
  gap: 16px;
  justify-content: space-evenly;
  bottom: 0;
  left: 50%;
  width: 50%;
}

.controls.view__list .controls__duration {
  position: fixed;
  bottom: 60px;
  left: 57%;
  width: 36%;
}

.controls.view__list .current-time,
.controls.view__list .total-time {
  display: none;
}

.controls.view__list .controls__repeat {
  position: fixed;
  bottom: 60px;
  left: calc(50% + 8px);
}

.controls.view__list .controls__shuffle {
  position: fixed;
  bottom: 60px;
  right: 8px;
}
